#collage{
	overflow: hidden;
	.imgOverlay{
		position: relative;
		a{
			position: absolute;
			right: 0;
			left: 0;
			top: 0;
			bottom: 0;
			display: block;
			z-index: 15;
		}
		&:before{
			content: "";
			position: absolute;
			display: block;
			height: 100%;
			width: 100%;
			background: rgba(0,0,0,0.10) linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0) 30%,rgba(0,0,0,0.75) 100%);
			bottom: 0;
			z-index: 10;
		}
		.tags_section{
			div,a,li{
				display: inline-block;
			}
			.time{
				float:right;
			}
		}
	}
	picture{
		border-radius: 0;
	}
	header{
		bottom: 0;
		position: absolute;
		z-index: 10;
		left: 0;
		right: 0;
		color:#fff;
		footer{
			margin-top: 10px;
		}
		h3{
			font-weight: 700;
		}
	}
	@media screen and (max-width:800px){
		display: block;
		.list_item{
			height:25vh;
			max-height:184px;
			min-height:120px;
			header{
				padding:20px;
			}
			picture{
				width: 100%;
				height:100%;
				img{
					width:100%;
				}
			}
		}
	}
	@media screen and (min-width:801px){
		.list_item{
			width: 33.3333%;
			height:100%;
			picture{
				height:100%;
				img{
					height:100%;
				}
			}
			header{
				padding:40px;
			}
		}
	}
	
	@media screen and (max-width:799px){
		h3{
			font-size:1em;
		}
	}
	@media screen and (min-width: 800px) and (max-width: 1250px){
		h3{
			font-size:1.4em;
		}
	}

	@media screen and (min-width: 1251px){
		h3{
			font-size:2em;
		}
	}

	@media screen and (min-width:800px) and (max-width: 1199px){
		height:350px;
	}
	@media screen and (min-width:1200px) and (max-width: 1599px){
		height:450px;
	}
	@media screen and (min-width: 1600px){
		height:550px;
	}
}