body{
	background-color: #333333;
}

#postContent{
	header{
		color:#fff;
		#share{
			a{
				color:#fff;
			}
		}
	}
}

#smallHead{
	color:#fff;
	a{
		color:#fff;
	}
}

#titledesc{
	background-color: #2D2D2D;
	color:#fff;
	a{
		color:#fff;
	}
}

#body{
	p{
		color:#fff;
	}

	a{
		color:#fff;
	}
	h1,h2,h3{
		color:#fff;
	}
	blockquote{
		p{
			color:#fff;
		}
	}
	ol,ul{
		color:#fff;
	}
	.fa-margin-15{
		a{
			color:#fff;
		}
	}
}

#pText{
	background-color: #393939;
}
#additionals{
	background-color: #4b4b4b;
	article{
	}
}